/* 화면단에서 공통으로 사용되는 css 정리 */

img {
width: 100%;
height: 70%;
margin: 8px;
}

* {
  font-family: 'Noto Sans KR';
  font-style: normal;
}

/* custom-form */
.custom-form {
  background: #F3F3F3;
  /* height: 50px; */
  display: flex;
  border-radius: 4px;
  padding: 5px;
  padding-top: 10px;
}

.custom-form-area {
  width: 90%;
  height: 100%;
  margin: auto;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 18px;
}

.custom-form-area * {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-family: 'Noto Sans KR';
}

.custom-search-form {
  background: #F3F3F3;
  /* height: 50px; */
  display: flex;
  border-radius: 4px;
}

.custom-search-form-area {
  width: 90%;
  height: 100%;
  margin: auto;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-size: 18px;
}

.description-area textarea{
  resize: none;
  width: 60vh;
  height: 15vh;
}


.btn-sm {
  width: 30%;
  height: 30%;
}

.btn-nomal {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  color : white
}

.bottomBtn-area {
  display: flex;
  margin-top: 0.5%;
}
.bottomBtn {
  margin:auto;
}

.bottomBtn button{
  margin-right: 10px;
}


.searchUser {
  font-size: 16px;
  display: flex;
}

.searchUser * {
  margin: auto;
}

.searchBtn img{
  width: 120px;
  height: 50px;
}

svg, a {
  color: rgb(51, 51, 51);
}

.page-Link {
  color: rgb(51, 51, 51);
}


/* 서브 메뉴 탭 */

.tabs {
  position: relative;
  overflow: hidden;
}

.tabs ul {
  margin: 0;
  bottom: 0;
  min-width: 2000px;
  width: 100px;
  border-bottom: 1px solid #bbbbbb;
}

.tabs ul li {
  float: left;
  list-style-type: none;
  white-space: nowrap;
  margin-right: 4px;
  position: relative;
  margin-bottom: -1px;
}

.tabs ul li a{
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.3em;
    padding: 4px 6px 4px 6px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbbbbb;
    color: #999;
    font-weight: bold;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.tabs ul li a.selected{
    background-color: #F3F3F3;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #fff;
    color: #444;
}


